# List of all files to be ignored by git

# Let us start with the stupid temporary files
*~
*.swp

# Any local backup files that you may have
# Please mark backup files with a .bak extension
*.bak

# The build directory
build/
data/images/

# My local commit file
git_commit
